<template>
    <div class="">
        <h1>Hello my task</h1>

        <form v-on:submit.prevent="myRequest">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="inputName">Name</label>
                        <input type="text" v-model="name" class="form-control" id="inputName"  placeholder="Enter name">
                        <small  class="form-text text-muted">Pleas enter name for research.</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="inputID">ID</label>
                        <input type="number" v-model.number="id" class="form-control" id="inputID" placeholder="Enter ID">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="inputPrice">Price</label>
                        <input type="number" min="0.00"  step="0.01" v-model="price[0]" class="form-control" id="inputPrice"   placeholder="Enter min price">
                        <input type="number" min="0.00"  step="0.01" v-model="price[1]" class="form-control"    placeholder="Enter max price">
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="inputBedrooms">Bedrooms </label>
                        <input type="number" v-model.number="bedrooms" class="form-control"  id="inputBedrooms" placeholder="Enter price">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="inputBathrooms">Bathrooms</label>
                        <input type="number" v-model.number="bathrooms" class="form-control"  id="inputBathrooms" placeholder="Enter Bathrooms">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="inputStoreys">Storeys</label>
                        <input type="number" v-model.number="storeys" class="form-control"  id="inputStoreys" placeholder="Enter Storeys">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="inputGarages">Garages</label>
                        <input type="number" v-model.number="garages" class="form-control"  id="inputGarages" placeholder="Enter Garages">
                    </div>
                </div>
            </div>


            <button type="submit"  class="btn btn-primary">Submit</button>
        </form>
        <table-component
                :data="myHouses"
                table-class="table table-dark"
                thead-class=""
        >
            <table-column show="name" label="Name"></table-column>
            <table-column show="id" label="ID" ></table-column>
            <table-column show="price" label="Price" ></table-column>
            <table-column show="bedrooms" label="Bedrooms" ></table-column>
            <table-column show="bathrooms" label="Bathrooms" ></table-column>
            <table-column show="storeys" label="Storeys" ></table-column>
            <table-column show="Garages" label="Garages" ></table-column>
        </table-component>
    </div>
</template>

<script>
    import axios from 'axios';
    import VueAxios from 'vue-axios';
    Vue.use(VueAxios, axios);
    export default {
        data:function(){
            return{
             myHouses:[],
                name:'',
                price:[],
                id:'',
                bedrooms:'',
                bathrooms:'',
                storeys:'',
                garages:''
            }
        },
        mounted() {
            console.log(this.houses)
        },
        props:['houses'],
        created(){
         this.myHouses = JSON.parse(this.houses)
        },
        methods:{
            myRequest: function() {
                const params = {};
                if(this.id) params.id = this.id;
                if(this.name) params.name = this.name;
                if(this.price[0] != 0 && this.price[1] != 0){
                    params.price = this.price;
                }
                if(this.bedrooms) params.bedrooms = this.bedrooms;
                if(this.bathrooms) params.bathrooms = this.bathrooms;
                if(this.storeys) params.storeys = this.storeys;
                if(this.garages) params.garages = this.garages;

               axios.get('/api/houses',{params})
                   .then((response)=>{
                   console.log(response.data);
                   this.myHouses = response.data;
               }).catch((error)=>{
                   console.log(error);
               })
            }
        }

    }
</script>
<style>
    form {
        margin-bottom: 20px;
    }
    #inputPrice{
        margin-bottom: 20px;
    }
    .table-component__filter{
        margin-bottom: 10px;
    }
</style>